@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';

#permission_control_admin {
    margin-top: 30px;
}

#permission_control_admin .nav-tab {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background-color .15s ease;
}

#permission_control_admin .show_add_permission_form {
    border-radius: 5px;
}

#permission_control_admin,
#permission_control_admin .wp-list-table th {
    color: #454b52;
}

#permission_control_admin .wp-list-table th {
    font-weight: bold;
}

#permission_control_admin .wp-list-table tr.no-items {
    font-style: italic;
}

#permission_control_admin #add_permission_form {
    display: none;
    margin-top: 20px;
    width: 50%;
    border: 1px #959eaa solid;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: #ffffff;
}

#permission_control_admin .form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

#permission_control_admin .form-group:not(:last-child) {
    margin-bottom: 20px;
}

#permission_control_admin .form-element {
    position: relative;
}

#permission_control_admin .form-element .spinner {
    width: 48px;
    height: 48px;
    border: 5px solid #454b52;
    border-bottom-color: #4d9ffd;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

#permission_control_admin select {
    width: 250px;
}

#permission_control_admin select option:first-child {
    color: #788088;
}

#permission_control_admin .form-element .empty_search {
    display: none;
    position: absolute;
    top: 9px;
    right: 5px;
    cursor: pointer;
    color: #585e66;
}

#permission_control_admin .form-element .wpc_search_results {
    display: none;
    position: absolute;
    top: 28px;
    width: 98.7%;
    left: 1px;
    max-height: 100px;
    border: 1px solid #959eaa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 3px 5px 0 rgba(0,0,0,0.56);
    overflow-y: auto;
    background-color: #f0f0f1;
    z-index: 10;
}

#permission_control_admin .form-element .wpc_search_results ul {
    overflow: hidden;
    margin: 0;
}

#permission_control_admin .form-element .wpc_search_results ul .wpc_search_item {
    margin-bottom: 0;
}

#permission_control_admin .form-element .wpc_search_results .wpc_no_results {
    padding: 10px;
    font-style: italic;
}

#permission_control_admin .form-element .wpc_search_results .wpc_search_item a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #454b52;
    transition: background-color 0.2s ease;
}

#permission_control_admin .form-element .wpc_search_results .wpc_search_item a:hover {
    background-color: #d6d6d6;
}

#permission_control_admin .form-element .wpc_search_results .wpc_search_item a:focus,
#permission_control_admin .form-element .wpc_search_results .wpc_search_item a:active {
    outline: none;
}

#permission_control_admin .form-element #role_select {
    display: none;
}

#permission_control_admin #add_permission_form #cancel_add_permission,
#permission_control_admin #add_permission_form input[type="submit"] {
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    border-width: 2p;
    border-style: solid;
}

#permission_control_admin #add_permission_form #cancel_add_permission {
    border-color: brown;
    padding: 4px 8px;
    color: brown;
}

#permission_control_admin #add_permission_form input[type="submit"] {
    border-color: seagreen;
    padding: 3px 8px;
    color: seagreen;
}

#permission_control_admin #add_permission_form input[type="submit"]:disabled {
    border-color: #d6d6d6;
    color: #d6d6d6;
}